.transportation-list {
	max-width: 800px;
	margin: 20px auto;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	.transportation-item {
		padding: 10px;
		border-bottom: 1px solid #eee;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:last-child {
			border-bottom: none;
		}
		.details {
			span {
				display: block;
				margin-bottom: 5px;
			}

			.description {
				font-weight: bold;
			}
		}
		.actions {
			button {
				padding: 5px 10px;
				border: none;
				border-radius: 4px;
				margin-left: 10px;
				cursor: pointer;
				background-color: #007bff;
				color: white;

				&:hover {
					background-color: darken(#007bff, 10%);
				}

				&:first-of-type {
					background-color: #28a745;

					&:hover {
						background-color: darken(#28a745, 10%);
					}
				}
			}
		}
	}
}
